*{  /* set chung style cho tất cả mọi phần tử */
    box-sizing: border-box; /* bao gồm cả padding và border vào trong chiều rộng và chiều cao của thẻ */
    margin: 0; /* bỏ khoảng cách mặc định của trình duyệt */
    padding: 0; /* bỏ khoảng cách mặc định của trình duyệt */
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #fafafa; /* màu nền của trang web */
    font-size: 15px; /* kích thước chữ */
    font-weight: 400; /* độ đậm của chữ */
    color: #444444; /* màu chữ */
    line-height: 1.5; /* khoảng cách giữa các dòng  1.5 * 15px = 22.5px*/
    padding: 20px; /* khoảng cách giữa viền và nội dung của thẻ body */
    text-align: center; /* canh trái, phải, giữa, đều */
}

.h1{
    font-size: 10px; /* kích thước chữ */
    font-weight: 100; /* độ đậm của chữ */
    margin-bottom: 1px; /* khoảng cách bên dưới của thẻ h1 */
}

.h2{
    font-size: 35px; /* kích thước chữ */
    font-weight: 600; /* độ đậm của chữ */
    margin-bottom: 1px; /* khoảng cách bên dưới của thẻ h2 */
    color:rgb(30, 30, 190);
}

.h3{
    margin-bottom: 1px; /* khoảng cách bên dưới của thẻ h3 */  
}

.h4{
    margin-top: 15px; /* khoảng cách bên trên của thẻ h3 */ 
    margin-bottom: 12px; /* khoảng cách bên dưới của thẻ h4 */
}

p{
    margin-bottom: 0,75 rem; /* khoảng cách giữa các đoạn văn */
}

/* layout */
/* style cho section */
.section{
    float: left; /* cho phép các thẻ div đứng cạnh nhau: right */ 
    width: 50%; /* chiều rộng của thẻ section */
}

.section2{
    float: left; /* cho phép các thẻ div đứng cạnh nhau: right */ 
    width: 22%; /* chiều rộng của thẻ section */
}

.D1{
    font-size: 30px;  
    background-color: rgb(18, 71, 146);
    color:#fafafa;
    margin: 10px;
    padding: 15px;
}

.D2{
    font-size: 15px;
    line-height: 1.0;
    background-color: pink; 
    margin: 5px;
    padding: 15px;
}

.container{ /*tạo 1 hộp nội dung giữa các section */
    float: left;
    width: 1200px; /* chiều rộng của thẻ container */
    margin-left: auto; /* canh giữa thẻ container */
    margin-right: auto; /* canh giữa thẻ container */
}




