*{ /* set chung style cho tất cả các phần tử */
    box-sizing: border-box; /* bao gồm cả padding và border vào trong chiều rộng và chiều cao của thẻ */
    margin: 0;
    padding: 0;
}

body{
    background-image: url('/images/sky-background.jpg'); /* thay bằng link ảnh của bạn ,nếu muốn lồng 2 ảnh thì cách nhau bằng dấu "," link nào ở trên sẽ là ảnh nằm trên; 
    linear-gradient: làm mờ màu nền, theo dải màu chọn */
    background-size: 2000px 500px;     /* phủ toàn màn hình */
    background-position: center; /* căn giữa */
    background-repeat:repeat; /* không lặp */
    font-family: "Roboto", sans-serif;
    background-color: #fafafa; /* màu nền của trang web */
    font-size: 15px; /* kích thước chữ */
    font-weight: 400; /* độ đậm của chữ */
    color: #444444; /* màu chữ */
    text-align:left; /* canh trái, phải, giữa */
    padding: 20px; /* khoảng cách giữa viền và nội dung của thẻ body, đều tự thêm so với hướng dẫn của thầy vì thấy đẹp hơn*/
    line-height: 1.5; /* khoảng cách giữa các dòng  1.5 * 15px = 22.5px, tự thêm so với hướng dẫn của thầy*/
}

.item{
    float:left;
    width: 100%;
    background-color: #00000050;
    color: #ffffff;
    padding:20px;
    height: 160px;
    line-height: 1.5;
}

.item h3{
    font-size: 16px;
}

.item h2{
    font-size: 24px;
}

.item img{
    transform: translate(160px, -80px);
}

