*{ /* set chung style cho tất cả các phần tử */
    box-sizing: border-box; /* bao gồm cả padding và border vào trong chiều rộng và chiều cao của thẻ */
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none; /* bỏ gạch chân của thẻ a */
}

a:hover{ /* set sẵn màu hover. link */
    color: #ad7408; /* đổi màu chữ khi hover chuột vào */
}

h1{
    font-size: 65px;
    font-weight: 100; /* độ đậm của chữ */
}

h2{
    font-size: 55px;
    font-weight: 100; /* độ đậm của chữ */
}

h3{
    font-size: 45px;
    font-weight: 200; /* độ đậm của chữ */
}


body{
    font-family: "Cormorant Garamond", sans-serif;
    background-color: #fafafa; /* màu nền của trang web */
    font-size: 22px; /* kích thước chữ */
    font-weight: 100; /* độ đậm của chữ */
    color: #444444; /* màu chữ */
    text-align:left; /* canh trái, phải, giữa */
    padding: 0px 20px; /* khoảng cách giữa viền và nội dung của thẻ body, đều tự thêm so với hướng dẫn của thầy vì thấy đẹp hơn*/
    line-height: 1.5; /* khoảng cách giữa các dòng  1.5 * 15px = 22.5px, tự thêm so với hướng dẫn của thầy*/
}

p{
    margin-bottom: 0.75 rem; /* khoảng cách giữa các đoạn văn */
}

/* layout */
/* style cho section */
.section{
    float: left; /* cho phép các thẻ div đứng cạnh nhau: right */ 
    width: 100%; /* chiều rộng của thẻ section */
}

.container{ /*tạo 1 hộp nội dung giữa các section */
    float: none;
    margin: 0 auto;
    width: 1360px; /* chiều rộng của thẻ container */
}

div{
    /* width: 280px; /*chiều rộng của thẻ div */
    /* width: 19%; /* chiếm 20% chiều rộng của thẻ cha */
    width: 100%; /* tính toán chiều rộng: 25% thẻ cha- 20px của margin (left right)*/
    float: left; /* cho phép các thẻ div đứng cạnh nhau: right */ 
    border: none; /*border-bottom. border-top, border-left, border-right */
    margin: 0px; /*khoảng cách giữa các thẻ div */
    padding: 15px; /*khoảng cách giữa viền và nội dung */
    /* margin và padding cỏ thẻ đặt riêng lẻ cho từng phía */
    /* margin: top right bottom left */
    /* padding: top right bottom left; */
    /* margin-top:... margin-right... */
    /* padding-top... padding-right... */
    box-sizing: border-box; /* bao gồm cả padding và border vào trong chiều rộng và chiều cao của thẻ, viền border mỗi bên 1px + padding mỗi bên 15px */
    border-radius: 0px; /*bo tròn góc*/
    background-color: none; /* màu nền */
    text-align:justify; /* căn chữ đều 2 bên justify, left, right, center*/
}

/* div:hover{ /*hiệu ứng khi hover chuột vào thẻ, giúp người dùng dễ nhận diện phần tử khi sử dụng */
/* background-color: #86b19d; /*thay đổi màu nền khi hover*/
/* transform: scale(1.5); /*phóng to thẻ khi hover lên 10%*/
/* transform: translate(0,-10px); /*dịch chuyển thẻ khi hover hướng lên trên 10px*/
/* transform: rotate(10deg); /*xoay thẻ khi hover góc 5 độ*/
/* transition: all 0.5s ease-in; /*hiệu ứng chuyển đổi mượt mà trong 3s*/ 
/* cursor: pointer; di chuột vào chuyển thành hình bàn tay */


img{
   max-width:100%; /* cỡ hình ảnh về kích thước của thẻ cha nếu nó vượt quá*/
}

/* ví dụ điều chỉnh các phần */
.nav{
    background-color: transparent;
}    

/*???
.nav ul li.Peony a{
    font-size: 30px;
    font-weight: 700;
} */

.nav-00{
    display:flex;
    padding: 0px 0px 80px 0px;
}
.nav-01, .nav-02{
    padding: 0px;
    flex:1;
}

.nav ul li{ /* viết theo gia phả */
    float:left;
    list-style: none; /* bỏ dấu chấm đầu dòng của thẻ ul */
    margin-right: 30px; /* khoảng cách giữa các thẻ li */
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav li a{
    color: #444444;
    font-weight: 400;
    font-size: 25px;
}

.collection{
    text-align: center;
    padding: 0px 0px 80px 0px;
}
.collection-01{
    text-align: center; /*???*/
}
.collection-02{
    flex: 1;
    display: grid; /* dùng grid để căn đều */      
    grid-template-columns: 1fr 1fr; /* 2 cột */
    gap: 10px;
    padding-left: 30px;
}

.peony-teas{
    text-align: center;
    padding: 90px 0px 80px 0px;
}

.image{
    display: flex;
    gap: 10px; /* khoảng cách giữa 2 bên */
    padding: 0px 0px 80px 0px;
}

/* Ảnh to bên trái */
.big-image{
    flex: 1;
}
.big-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* cắt cho vừa */
    border-radius: 5px;
}

/* Nhóm ảnh nhỏ bên phải */
.small-group {
    flex: 1;
    display: grid; /* dùng grid để căn đều */      
    grid-template-columns: 1fr 1fr; /* 2 cột */
    grid-template-rows: 1fr 1fr;    /* 2 hàng */
    gap: 10px;
}

.small-group img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* crop ảnh cho đầy khung */
    border-radius: 5px;
    aspect-ratio: 1/1; /* khung vuông */
}

.paragraph-01{
    padding: 0px 0px 80px 0px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.paragraph-01-01{
    text-align: center;
}
.paragraph-01-02{
    object-fit: cover; /* crop ảnh cho đầy khung */
    border-radius: 5px;
}

.paragraph-02{
    display: grid; /* dùng grid để căn đều */      
    grid-template-columns: 1fr 1fr; /* 2 cột */
    gap: 10px;
    padding: 0px 0px 80px 0px;
}
.paragraph-02-01 img, .paragraph-02-02 img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* crop ảnh cho đầy khung */
    border-radius: 5px;
    aspect-ratio: 1/1; /* khung vuông */
}

.gallery{
    text-align: center;
    padding: 0px 0px 80px 0px;
}
.gallery-01{
    text-align: center;
}

.gallery-02{
    display: grid; /* dùng grid để căn đều */      
    grid-template-columns: 1fr 1fr 1fr; /* 3 cột */
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 0px 0px 40px 0px;
    object-fit: cover; /* crop ảnh cho đầy khung */
}

.S-01, .S-02{
    padding: 0px 0px 70px 0px;
}
.S-03{
    text-align: left;
    padding-left: 35px;
}

.S04{
    display: grid; /* dùng grid để căn đều */           
    grid-template-columns: 1fr 1fr; /* 2 cột */
    gap: 30px;
    padding: 0px 0px 70px 0px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.quality{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0px;
    padding: 0px 0px 70px 0px;
    padding-left: 30px;
}

.lover{
   padding: 0px 0px 80px 0px;
}
.lover-01{
    padding-left: 30px;
}

.lover-02{
    display:grid;
    grid-template-rows: 2fr;
    gap:15px;
    padding-left: 30px;
}

.footer{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap:0;
    background-color:none ;
    color: #444444;
    font-size: 22px;
    height: 400px;
    line-height: 2.0;
    text-align: center;
}

.footer ul li{
    list-style: none; /* bỏ dấu chấm đầu dòng của thẻ ul */
}

.footer-01, .footer-03{
    text-align: center;
}

.footer-04{
    font-size: 18px;
    text-align: center;
    height: 80px;
}

.footer-02{
    text-align: center;
    border-left: 0.5px solid #444444;
    border-right: 0.5px solid #444444;
    
} 

button{
    color: #444444;
    width: 180px;
    height: 55px;
    border-radius: 50%;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #E9F0E9;
    background-color: #E9F0E9;
}

.form-group{
    float: left;
    width: 20%;
    margin-bottom: 15px;
}
.form-group input{
    float: left;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}
.form-group input[type="email"]{
    color: green;
    border: none;
}
.form-group input[name="full_name"]{
    color:burlywood
}   

.display {
/*  display: none; /* không hiển thị, bị tàng hình, ẩn đi */
/*  display:  block; /* chiếm nguyên width 1 dòng */
    /* display: inline; /* chiều dài bằng đúng nội dung của phần tử (nhưng không dùng được width, height) */
    display:inline-block /* giống inline nhưng cài đặt đc width, height */
}

.display{
    display: flex; /* dàn hàng ngang giống float left, giống inline; ko đặt flex direction thi mặc định là row, xếp hàng ngang  */
    flex-direction: row; /* xep hang ngang */
    flex-direction: column; /* xep hang doc */
    justify-content: center; /* căn theo chiều đã chọn (row hoặc column, mặc định là row), flex-start: tất cả thu về đầu hàng, flex-end tất cả thu về cuối hàng, center: căn giữa hàng */
    /* space-between: giãn đều, 3 ông thì có 2 ông đứng đầu cuối dòng, space-around: giãn đều nhưng có khoảng trống đầu cuối dòng*/
    align-items: center ; /* căn theo chiều còn lại */
    align-self: flex-start; /* ngoại lệ 1 trường hợp riêng biệt xếp đầu dòng, flex-end */
}

.position{
    position: static; /* căn theo mặc định, ko dùng đc width, height */
    position: relative; /* là thẻ cha làm căn cứ, 1st sẽ căn theo mặc định khung màn hình, 2st absolute sẽ căn theo position gần nhất (relative, absolute) */ 
    position: absolute; /* căn theo thẻ cha chứa nó có thuộc tính position (bất kể là relative hay absolute */
    position: fixed; /* để chốt cố định 1 đoạn, ví dụ thanh header luôn luôn đc hiển thị khi kéo chuột, đặt header: top=0; footer: bottom=0; để 2 thanh luôn luôn sát trình duyệt  */
}
/* tiền tố before, after
::before{
    content: 
} */

/*background-clip: muốn màu nền cho phần nào (conten, padding, border) thì chọn phần đó */

