nav{
    background-color: #000;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    list-style: none;
    margin: 0;
}

.menu > li{
    position: relative;
    margin: 0 20px;
}

/* Link menu chính */
.menu > li > a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

/* Thêm dấu phân cách | giữa các mục */
.menu > li:not(:last-child)::after {
      content: "|";
      color: #fff;
      margin-left: 20px;
      font-weight: normal;
}

/* Mega menu (ẩn mặc định) */
.mega-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      width: 900px;
      background: #fff;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      color: #333;
      z-index: 100;
}

/* Khi hover thì hiện menu con */
.menu > li:hover .mega-menu {
      display: flex;
}

/* Các cột trong mega menu */
.mega-column {
      flex: 1;
      margin: 0 15px;
}

.mega-column h3 {
      font-size: 14px;
      margin-bottom: 10px;
      color: #b08d57; /* vàng nhạt */
      text-transform: uppercase;
}

.mega-column ul {
      list-style: none;
      padding: 0;
      margin: 0;
}

.mega-column ul li {
      margin-bottom: 8px;
}

.mega-column ul li a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
}

/* Cột hình ảnh */
.mega-column img {
      max-width: 100%;
      border: 1px solid #ccc;
}
